@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bodycards {
  min-height: 100vh;
  min-height: 100svh;
  background: #232228;
  font-family: "Nunito", sans-serif;
  position: relative;
  overflow-x: hidden;
  display: grid;
  place-items: center;
}

a {
  text-decoration: none;
  display: inline-block;
}

.sectioncards {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin-inline: auto;
  gap: 3.25rem;
  position: relative;
  z-index: 10;
  align-items: center;
  padding: 5em 0;
}
.sectioncards .card {
  position: relative;
  z-index: 555;
  max-width: 20rem;
  min-height: 20rem;
  width: 90%;
  display: grid;
  place-content: center;
  place-items: center;
  text-align: center;
  position: relative;
  box-shadow: 0.063em 0.75em 1.563em rgba(0, 0, 0, 0.78);
  border-radius: 2.25rem;
}
.sectioncards .card::before {
  position: absolute;
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 2.25rem;
  z-index: -1;
  border: 0.155rem solid transparent;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.sectioncards .card-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8em 0.5em 0em 1.5em;
}
.sectioncards .card-header .date {
  color: #ddd;
}
.sectioncards .card-header svg {
  color: #fff;
  width: 2.5rem;
  cursor: pointer;
}
.sectioncards .card-body {
  position: absolute;
  width: 100%;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.7em 1.25em 0.5em 1.5em;
}
.sectioncards .card-body h3 {
  color: #fff;
  font-size: 1.375rem;
  margin-top: 0.625em;
  margin-bottom: 0.188em;
  text-transform: capitalize;
  font-weight: 600;
}
.sectioncards .card-body p {
  color: #ddd;
  font-size: 1rem;
  letter-spacing: 0.031rem;
}
.sectioncards .card-body .progress {
  margin-top: 0.938rem;
}
.sectioncards .card-body .progress .progress-bar {
  position: relative;
  width: 100%;
  background: #363636;
  height: 0.313rem;
  display: block;
  border-radius: 3.125rem;
}
.sectioncards .card-body .progress .progress-bar:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  display: block;
  border-radius: 3.125rem;
}
.sectioncards .card-body .progress span:first-of-type {
  color: #fff;
  text-align: left;
  font-weight: 600;
  width: 100%;
  display: block;
  margin-bottom: 0.313rem;
}
.sectioncards .card-body .progress span {
  margin-top: 0.313rem;
  text-align: right;
  display: block;
  color: #fff;
}
.sectioncards .card-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-top: 0.063rem solid #292929;
  display: flex;
  justify-content: space-between;
  padding: 0.7em 1.25em 0.5em 1.5em;
  background: #151419;
  border-bottom-left-radius: 2.25rem;
  border-bottom-right-radius: 2.25rem;
}
.sectioncards .card-footer ul {
  display: flex;
  align-items: center;
}
.sectioncards .card-footer ul li {
  list-style-type: none;
  display: flex;
  margin-right: -0.625rem;
}
.sectioncards .card-footer ul li img {
  border-radius: 50%;
  width: 1.875rem;
  height: 1.875rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.sectioncards .card-footer .btn-add {
  width: 1.375rem;
  height: 1.375rem;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectioncards .card-footer .btn-add svg {
  width: 1rem;
}
.sectioncards .card-footer .btn-countdown {
  background: #222127;
  color: #fff;
  border-radius: 2em;
  padding: 0.625rem 1.5rem;
}
.sectioncards .green {
  background: radial-gradient(ellipse at right top, rgba(16, 118, 103, 0.9294117647) 0%, #151419 47%, #151419 100%);
}
.sectioncards .green:before {
  background: linear-gradient(45deg, #232228, #232228, #232228, #232228, #01c3a8) border-box;
}
.sectioncards .green .btn-add {
  background: #01c3a8;
}
.sectioncards .green .progress-bar:after {
  width: 90%;
  background: #01c3a8;
}
.sectioncards .green .btn-countdown:hover {
  background: #01c3a8;
}
.sectioncards .blue {
  background: radial-gradient(ellipse at right top, rgba(0, 69, 143, 0.5607843137) 0%, #151419 45%, #151419 100%);
}
.sectioncards .blue:before {
  background: linear-gradient(45deg, #232228, #232228, #232228, #232228, #1890ff) border-box;
}
.sectioncards .blue .btn-add {
  background: #1890ff;
}
.sectioncards .blue .progress-bar:after {
  width: 20%;
  background: #1890ff;
}
.sectioncards .blue .btn-countdown:hover {
  background: #1890ff;
}
.sectioncards .orange {
  background: radial-gradient(ellipse at right top, rgba(255, 183, 65, 0.5803921569) 0%, #151419 47%, #151419 100%);
}
.sectioncards .orange:before {
  background: linear-gradient(45deg, #232228, #232228, #232228, #232228, #ffb741) border-box;
}
.sectioncards .orange .btn-add {
  background: #ffb741;
}
.sectioncards .orange .progress-bar:after {
  width: 30%;
  background: #ffb741;
}
.sectioncards .orange .btn-countdown:hover {
  background: #ffb741;
}
.sectioncards .red {
  background: radial-gradient(ellipse at right top, rgba(166, 61, 42, 0.5098039216) 0%, #151419 47%, #151419 100%);
}
.sectioncards .red:before {
  background: linear-gradient(45deg, #232228, #232228, #232228, #232228, #a63d2a) border-box;
}
.sectioncards .red .btn-add {
  background: #a63d2a;
}
.sectioncards .red .progress-bar:after {
  width: 90%;
  background: #a63d2a;
}
.sectioncards .red .btn-countdown:hover {
  background: #a63d2a;
}/*# sourceMappingURL=cards.css.map */