* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.imagen_logo {
    width: 150px;
    height: auto;
    display: flex;
    display: flex-end;
    
}

header {
    background-color: #333;
    color: white;
    padding: 7px;
    text-align: center;
}

header .logo h1 {
    font-size: 2rem;
    position: relative;
    top: -125px;
    left: -280px;
    color: rgba(219, 169, 21, 0.839);
}

header .logo h6 {
    font-size: 1rem;
    position: relative;
    top: -120px;
    left: -280px;
    color:rgba(219, 169, 21, 0.839);
}

header .logo sub{
    font-size: 1rem;
}

header nav ul {
    list-style-type: none;
    margin: 20px 0 0;
    padding: 0;
    position: relative;
    top: -210px;
    right: -300px;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

section h2 {
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

section p {
    color: #666;
    font-size: 1rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

footer h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    font-size: 1rem;
    margin-bottom: 5px;
}