# Núcleo del Proyecto SignaLink

# --- Reconocimiento y Síntesis de Voz ---
vosk
piper-tts

# --- Audio ---
pyserial
pyaudio
sounddevice
simpleaudio
playsound
scipy

# --- Hardware --
adafruit-circuitpython-busdevice
smbus2
spidev
RPi.GPIO

# --- Machine Learning y Datos ---
numpy
tflite-runtime
scikit-learn

# --- Comunicación y Red ---
requests
paho-mqtt
websockets

# --- Utilidades ---
tqdm
loguru
psutil
webrtcvad
