[Unit]
Description=SignaLink MQTT Handler
After=network.target mosquitto.service
Wants=network.target mosquitto.service

[Service]
ExecStart=/home/signalink/SignaLink/rpizero2W/wifi-ap/start_ap.sh
Restart=always
User=signalink

[Install]
WantedBy=multi-user.target
